footer
	.footer.container
		.footer-left
			ul
				li
					a(href="#") Terms and conditions
				li
					a(href="#") Privacy

		.footer-right
			ul
				li Follow
				li: a(href="#"): img(src="images/fb.png", alt="")
				li: a(href="#"): img(src="images/tw.png", alt="")
				li: a(href="#"): img(src="images/in.png", alt="")
		.clearFix