doctype html
html(lang="en")
	head
		link(href="css/main.css", rel="stylesheet")
		title Minimo project
	body
		header
			div.header-ct.container
				div.logo
					a(href="#")
						img(src="images/logo.png", alt="")
				div.main-menu
					ul
						li
							a(href="#", title="photodiary") lifestyle
						li
							a(href="#", title="photodiary") photodiary
						li
							a(href="#", title="photodiary") music
						li
							a(href="#", title="photodiary") travel